h1{
    color: blue;
    background-color: rgb(81, 81, 240);
}
h4{
    color: blueviolet;
}
h2{
    color: orangered;
    background-color:yellow ;
}
h3{
    color:rgb(10, 82, 10) ;
    background-color: rgb(87, 233, 87) ;
}